
.addSession{

    width:100%;
    height: auto;
    text-align: center;

    margin-bottom:20px;
}

.addStyle{

    display: inline-block;

    margin-left:20px;
    border:none;
    background-color: transparent;

    border:1px solid #000;

    cursor: pointer;

}